.google-map-img {
 img {
   width:100%;
 }
}

#contact {
  @media (max-width:1200px) {
    .container {
      width:100%;
      margin:0 auto;
    }
  }
  @media (max-width:480px) {
    .container {
      width:100% !important;
    }
  }
  background:#364155;
  .col-1, .col-2 {
    border-right:2px solid #FFF;
    @media (max-width:991px) {
      border-right:none;
    }
  }
  .col-md-4 {
    padding:30px 0;
    display:flex;
    justify-content:center;
    flex-wrap:wrap;
    text-align:center;


  }
  p {
    width:100%;
    font-family: $josefin;
    font-size: 20px;
    color: #FFFFFF;
    line-height: 25px;
    margin-bottom:0;
  }
  .p-1 {
    margin-top:10px;
    margin-bottom:25px;

  }
  .p-3 {
    margin-bottom:25px;
  }
  .p-4 {
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    color: #EDCF4A;
    text-decoration:underline;
    letter-spacing: 0;
    line-height: 25px;
    margin-bottom:30px;
  }

  .row {
    display:flex;
    @media (max-width:991px) {
      display:initial;
    }
  }
  .col-2 {
    p {
      font-family: $josefin;
      font-size: 20px;
      color: #FFFFFF;
      margin-bottom:0;
    }
    a:hover {
      text-decoration:none;
    }
    .p-1 {
      height:10px;
    }
    .p-2 a {
      font-family: $montserrat;
      font-weight:700;
      font-size: 36px;
      color:#FFF;
    }
    .p-3 a {
      color:#FFF;
    }
    .p-1 {
      margin-bottom:-25px;
    }
    .p-2 {
      margin-bottom:-25px;
      position:relative;
      top:-5px;
    }
    .p-3 {
      margin-top:-20px;
      top:-15px;
      position:relative;
    }
    @media (max-width:991px) {
      p {
        margin-bottom:40px !important;
      }
      .p-1 {
        margin-top:20px !important;
      }
    }
  }
  .col-3 .hours {
    font-family: $cardo;
    font-weight:700;
    font-size: 21px;
    color: #FFFFFF;
    letter-spacing: 0;
    line-height: 25px;
    margin-bottom:-40px;
    margin-top:20px;
    margin-left:35px;
  }
  .col-3 {
    display:flex;
    justify-content:space-around;
    .center {
      width:100%;
    }
    .col-left {
      width:25%;
      padding-left:30px;
      text-align:left;
      margin-right:50px;
      @media (max-width:1050px) {
        padding-left:15px;
        margin-right:30px;
      }
      p {
        font-family: $josefin;
        font-weight:700;
        font-size: 18px;
        color: #FFFFFF;
        letter-spacing: 0;
        line-height: 29px;
      }
    }
    .col-right {
      width:60%;
      text-align:left;
      @media (max-width:1050px) {
      }
      p {
        font-family: $josefin;
        font-weight:400;
        font-size: 16px;
        color: #FFFFFF;
        letter-spacing: 0;
        line-height: 29px;
      }

    }
  }
  @media (max-width:1200px) {
    .col-3 {
      .col-left {
        p {
          font-size:16px;
        }
      }
      .col-right {
        p {
          font-size:14px;
        }
      }
    }

  }
  @media (max-width:991px) {
   .col-3 {
     margin-top:-20px;
     width:100%;
     justify-content:center;
     align-items:center;
     .col-left, .col-right {
       width:auto;
     }
     .col-left {
       margin-right:75px;
       @media (max-width:480px) {
         margin-right:30px;
       }
     }
   }

    .center {

      margin:0;
      margin-top:-100px;
    }
  }


}

#contact .col-3 .col-right p {
  @media (max-width:400px) {
    font-size:14px;
  }
}

#contact .col-3 .col-left {
  @media (max-width:400px) {
    padding-left:0;
    margin-right:10px;
  }
}