.navbar li > a {
  color:#707070;
  font-weight:700;
  font-family:$cardo;
  font-size:20px;
  @media (max-width:1300px) {
    font-size:18px;
  }
  @media (max-width:1150px) {
    font-size:16px;
    padding-left:10px;
    padding-right:10px;
  }
}
.navbar > li:nth-child(1) > a {
  font-weight:700;
  color:#3D77A0;
}
.navbar > li:nth-child(2) > a {
  font-weight:700;
  color:#AB6A2E;
}
.navbar > li:nth-child(3) > a {
  font-weight:700;
  color:#74527A;
}
#header.sticky-header:not(.static-sticky), #header.sticky-header:not(.static-sticky) #header-wrap, #header.sticky-header:not(.static-sticky):not(.sticky-style-2):not(.sticky-style-3) #logo img {
    height:100px;
}
#header.sticky-header:not(.static-sticky), #header.sticky-header:not(.static-sticky) #header-wrap, #header.sticky-header:not(.static-sticky):not(.sticky-style-2):not(.sticky-style-3) {
  background:rgba(255,255,255,.84);

}
#header.sticky-header:not(.static-sticky) #primary-menu > ul > li > a {
  padding-top:39px;
  padding-bottom:39px;
}
#header.full-header #logo {
  padding-right:0;
  margin-right:0;
  img {
    padding-top:5px;
    padding-bottom:5px;

  }
}
#primary-menu ul li > a {
  @media (max-width:1150px) {
    font-size:16px;
    padding-left:10px;
    padding-right:10px;
  }
}
body.stretched #header.full-header .container {
  @media (max-width:1150px) {
    padding-right:0;
  }
}

#primary-menu-trigger {
  font-size:25px;
}