.phone-slug {
  padding:20px 0;
  background:#FFF;
  .col-sm-6:nth-of-type(1) {
    text-align:right;
    @media (max-width:767px) {
      text-align:center;
    }
  }
  .col-sm-6:nth-of-type(2) {
    text-align:left;
    border-left:2px solid #5E6260;
    @media (max-width:767px) {
      text-align:center;
      border-left:none;
    }
  }
  .new-hotline-text {
    /* New Patient Hotline: */
    font-weight:400;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: #444444;
    margin-bottom:-5px;
    @media (max-width:600px) {
      margin-bottom:-10px;
    }

  }
  .new-hotline-phone {
    font-weight:700;
    letter-spacing: -0.56px;
    font-family: $montserrat;
    font-size: 32px;
    color: #444444;
    @media (max-width:600px) {
      font-size:30px;
    }
  }
  .old-hotline-text {
    line-height: 21px;
    margin-bottom:0;
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
    color: #444444;
    @media (max-width:767px) {
      line-height:28px !important;
    }
  }
  .old-hotline-phone {
    font-weight:700;
    line-height: 21px;
    margin-bottom:0;
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
    color: #444444 !important;
    @media (max-width:767px) {
      color:#079698;
      font-size:26px;
      line-height:10px;
    }
  }
  a:hover {
    text-decoration:none;
  }
  .button {
    width:340px;
    font-size:18px;
    @media (max-width:767px) {
      margin-bottom:10px;
    }
    @media (max-width:500px) {
      width:300px;
      font-size:16px;
    }
  }
}
#phone-slug-1-mobile {
  background:url('../images/cta-bg.jpg');
  .button {
    width:90%;
    font-size:14px;
  }
}
.phone-slug-non-mobile {
  background:url('../images/cta-bg.jpg');

  .row {
  }
  .col-sm-4 {
    display:flex;
    align-items:center;
    justify-content:center;
    flex-wrap:wrap;
    padding-top:40px;
    padding-bottom:40px;
  }
  .col-sm-4:nth-child(1), .col-sm-4:nth-child(2) {
    border-right:2px solid #FFF;
  }
  .btn-wrap {
    width:100%;
    display:flex;
    justify-content:center;
    text-align:center;
  }
  .new-patient {
    font-family: $josefin;
    font-style:italic;
    font-size: 22px;
    color: #424242;
    line-height: 40px;
    width:100%;
    text-align:center;
  }

  img {
    width:80%;
    height:50px;
  }
  .button {
    width: 275px;
    font-size:14px;
    margin-top:15px;
    height:40px;
    padding-top:0;


  }
  .phone {

    text-align:center;
  }
  .clipboard {
    margin-top:-10px;
    margin-bottom:20px;
  }
  .new-patient-phone {
    font-family: $montserrat;
    font-weight:700;
    font-size: 36px;
    color: #424242;
    line-height: 40px;
    margin-top:-10px;
    width:100%;
    text-align:center;
    &:hover {
      text-decoration:none;
    }
  }
  .patients {
    display:flex;
    margin-top:-10px;
    justify-content:center;
  }
  .old-patient {
    font-family: $josefin;
    font-style:italic;
    font-size: 22px;
    color: #424242;
    width:100%;
    text-align:center;
    margin-top:10px;
    margin-bottom:-10px;
  }
  .old-patient-phone {
   font-size:36px;
    font-weight:700;
    width:100%;
    text-align:center;
    color:#424242;
   font-family:$montserrat;
  }
  a:hover {
    text-decoration:none;
  }
}