#reviews {
  padding:60px 0;
  padding-top:0;
  background:url('../images/reviews-bg.jpg');
  background-size:cover;
  background-position:50% 50%;
  background-repeat:no-repeat;
  @media (max-width:991px) {
    padding-bottom:0;
  }
  h2 {
    font-size:48px;
    position:relative;
    top:60px;
  }
  @media (max-width:991px) {
    background-size:cover;
    h2 {
      font-size:38px;
      line-height:43px;
    }
  }
  @media (max-width:500px) {
    h2 {
      font-size:32px;
      line-height:35px;
    }

  }
  @media (max-width:900px) {
    background:none;

  }
  iframe {
    width:800px !important;
    height:500px !important;
    left:15px !important;
    position:relative !important;
    margin-top:260px !important;
    @media (max-width:991px) {
      width:75% !important;
      height:300px !important;
      margin-top:190px !important;
    }
    @media (max-width:900px) {
      margin-top:50px !important;
    }
  }
  .bf-dv {
    margin-top:250px !important;
    font-family: $josefin;
    font-size: 20px !important;
    color: #FFFFFF !important;
    letter-spacing: -0.39px !important;
    text-shadow: 0 2px 4px rgba(0,0,0,0.50) !important;
    @media (max-width:991px) {
      margin-top:170px !important;
      padding-bottom:50px;
    }
    a {
      color:#FFF !important;
      text-decoration:none !important;
      @media (max-width:900px) {
        color:#555 !important;
        text-shadow:none !important;
      }
      &:hover {
        text-decoration:underline !important;
      }
    }
    @media (max-width:900px) {
      margin-top:20px !important;
      color:#555 !important;
      text-shadow:none !important;
    }

  }

}

@media only screen and (max-width:767px) {
  .widgetHtml#bodyContainer {
    padding-left:0 !important;
  }
}
@media (max-width:767px) {
  iframe {
    margin-left:25px !important;
  }
}