/* Service Modals */

#services a:hover {
  text-decoration:none;
}

.service-modal .modal-body, .service-modal .modal-header {
  background:#FFF;
}
.service-modal h4 {
  font-family: $cardo;
  font-weight:700;
  font-size: 24px;
  color: #7D7C7C;
  margin-top:10px;
}
.service-modal .modal-header {
  border-radius:3px 3px 0px 0px;
}
.service-modal .modal-body {
  border-radius:0px 0px 3px 3px;
}
.service-modal-text p {
  line-height:25px;
  font-size:16px;
  margin-bottom:15px;
}
.service-modal img {
  margin-bottom:10px;
}
.service-modal {
  .modal-dialog {
    background:#FFF;
  }
  .img-wrap {
    margin-bottom:10px;
  }
}

.service-modal > div > div.modal-body > div.img-wrap.hidden-xs.hidden-sm {
  text-align:center;
}
.service-modal p {
  font-size:18px;
  font-family:$cardo;
}