#services {
  padding:50px 0;
  .request-appt {
    text-decoration:underline;
  }
  .long-text {
    font-family: $josefin;
    font-size: 20px;
    color: #737270;
    line-height:25px;
  }

}

#services-2 {
  padding:250px 0;
  background:url('../images/services/takla-cosmetic.jpg');
  background-size:cover;
  @media (max-width:1200px) {
    padding:200px 0;
  }
  @media (max-width:991px) {
    background:none;
    padding:20px 0;
  }
  h4 {
    font-family: $cardo;
    font-weight:400;
    font-size: 48px;
    color: #575757;
    letter-spacing: 0;
  }
  p {
    font-family: $josefin;
    line-height:25px;
    font-size: 20px;
    color: #717171;
  }
}

#services-3 {
  .logo {
    margin-bottom:30px;
  }
  .invis {
    position:absolute;
    right:0;
    width:30%;
    transform:translateY(-95%);
    @media (max-width:1200px) {
      width:35%;
      transform:translateY(-100%);
    }
    @media (max-width:991px) {
      display:none;
    }
  }
  padding:300px 0;
  background-repeat:no-repeat;
  background-position-x:100%;
  @media (max-width:991px) {
    padding:50px 0;
  }

  .col-md-5 {
    margin-right:0;
    padding-right:0;

  }
  .col-md-7 {
  }
  p {
    font-family: $josefin;
    line-height:25px;
    font-size: 20px;
    color: #717171;
  }

  .container {

  }
}
#services-3-bg {
  img {


  }
}

#services-4 {
  padding:300px 0;
  background:url('../images/services/takla-implants.jpg');
  background-repeat:no-repeat;
  background-position:15% 0%;
  @media (max-width:1200px) {
    padding:50px 0;
    background:none;
  }

  h4 {
    font-family: $cardo;
    font-weight:400;
    font-size: 48px;
    color: #575757;
    letter-spacing: 0;
  }
  p {
    font-family: $josefin;
    line-height:25px;
    font-size: 20px;
    color: #717171;
  }
}

#services-carousel {
  padding:30px 0;
  img {
    border-radius:5px;
  }
  h4 {
    font-family: $cardo;
    font-weight:700;
    font-size: 24px;
    color: #7D7C7C;
    margin-top:10px;
  }
  .owl-prev, .owl-next {
    opacity:1 !important;
    width:50px;
    height:50px;
    border-radius:0;
    background:#364155;
    color:#fff;
    display:flex;
    align-items:center;
    justify-content:center;
    border:none;
    font-size:32px;
    top:45%;
  }
  #oc-portfolio-2:hover {
    .owl-prev, .owl-next {
      opacity:1 !important;
      width:50px;
      height:50px;
      border-radius:0;
      background:#364155;
      color:#fff;
      display:flex;
      align-items:center;
      justify-content:center;
      border:none;
      font-size:32px;
      top:45%;

      @media (max-width:767px) {
        top:40%;
      }
      &:hover {
        background:#2E3849 !important;
      }
    }
    .owl-prev {
      left:-62px;
    }
    .owl-next {
      right:-62px;
    }
    @media (max-width:1400px) {
      .owl-prev {
        left:-36px;
      }
      .owl-next {
        right:-36px;
      }
    }
  }

}