#slider {
  padding: 0;
}
#slide-1 {

  background-size:cover;
  h2 {
    font-family: $cardo;
    font-size: 72px;
    color: #FFFFFF;
    line-height: 40px;
    font-weight:400;
  }
  h2:nth-child(1) {
    margin-left:-50px;
  }
  .slider-caption {
    margin-top:150px;
    margin-right:100px;
    @media (max-width:1200px) {
      margin-right:50px;
    }

  }
  p {
    font-family: $josefin;
    font-size: 25px;
    font-style:italic;
    color: #FFFFFF;
    margin-left:10px;
    margin-top:10px;
    text-transform:uppercase;
  }
  .btn-wrap {
    text-align:center;
  }
}

.one-page-arrow {
  color:#707070;
  font-size:50px;
  position:relative;
  top:-100px;
  &:hover {
    color:#707070;
  }
}

#slide-2 {
  h2 {
    font-family: $cardo;
    font-weight:400;
    font-size: 58px;
    color: #7A7A7A;
    line-height: 35px;
  }
  .icon-star3 {
    color:#FFD900;
    font-size:40px;
  }
  p {
    font-family: $josefin;
    font-style:italic;
    font-size: 24px;
    color: #424242;
    margin-bottom:50px;
  }
  .author {
    font-weight:700;
  }
  .star-set {
    margin-bottom:10px;
  }
}

#slide-3 {
  h2 {
    font-family: $cardo;
    font-weight:400;
    font-size: 72px;
    color: #7A7A7A;
    margin-bottom:10px;
    line-height: 52.77px;
  }

  h3 {
    font-family: $cardo;
    font-weight:400;
    font-size: 44px;
    color: #424242;
  }
  p {
    font-family: $josefin;
    font-size: 36px;
    line-height:45px;
    color: #424242;
    font-style:italic;
    margin-bottom:30px;
  }
  .button {
    width:300px;
    text-align:center;

  }
}