#specials {
  background:url('../images/specials.jpg');
  background-size:cover;
  padding:50px 0;
  padding-bottom:100px;
  background-position-x:30%;
  @media (max-width:1200px) {
    background:#354253;
  }
  h2 {
    font-family: $cardo;
    font-weight:400;
    font-size: 36px;
    color: #FFFFFF;
    letter-spacing: -0.77px;
    line-height: 43.77px;

  }
  .box {
    float:left;
    width:148px;
    height:134px;
    background:#F58823;
    color:#FFF;
    display:flex;
    align-items:center;
    justify-content:center;
    margin-right:25px;
    padding:15px;
    flex-wrap:wrap;
    border-radius:3px;
    padding-bottom:10px;
  }
  .save {
    margin-top:-10px;
    width:100%;
    text-align:center;
    margin-top:-20px;
    font-family: $josefin;
    font-size: 20px;
    color: #FFFFFF;
  }
  .col-md-6 {
    padding:0;
  }
  .price {
    margin-top:-10px;
    font-family: $montserrat;
    font-weight:700;
    font-size: 72px;
    color: #FFFFFF;
    letter-spacing: -1.55px;
    display:flex;
    align-self:center;
    justify-content:center;
  }
  .dollar {
    font-family: $montserrat;
    font-weight:400;
    font-size: 36px;
    color: #FFFFFF;
    position:relative;
    top:-35px;
  }
  h6 {
    margin-bottom:5px;
    font-family: $josefin;
    font-weight:700;
    font-size: 28px;
    text-align:left;
    color: #FFFFFF;
    @media (max-width:767px) {
      font-size:24px;
    }
    @media (max-width:500px) {
      font-size:20px;
    }
  }
  p {
    font-family: $josefin;
    font-size: 20px;
    color: #FFFFFF;
    line-height:20px;
    margin-bottom:10px;
    @media (max-width:500px) {
      font-size:18px;
    }
  }
  .row {
    border-bottom: 2px solid #979797;
    padding-bottom:30px;
    padding-top:30px;

  }
  .border-top {
    border-top:2px solid #979797;
    padding-top:30px;

  }
  .box-2 {
    background:#4A90E2;
  }
  .box-3 {
    background:#7D4E79;
  }
  .box-wrap {
    @media (max-width:767px) {
      width:100%;
      display:flex;
      height:150px;
      justify-content:center;
    }
  }

}

.specials-mobile-image {
  img {
    width:100%;
  }

}