#team-carousel {
  padding:50px 0;
  h4 {
    font-family: $cardo;
    font-size: 36px;
    font-weight:400;
    color: #757575;
    width:100%;
    line-height:35px;
    margin-bottom:5px;
  }
  h6 {
    font-family: $cardo;
    font-size: 28px;
    color: #757575;
    font-weight:400;
    width:100%;
    margin-bottom:10px;

  }
  img {
    width:240px;
    height:300px;
    border-radius:3px;
  }
  .iportfolio {
    .col-md-9 {
      text-align:left !important;
      p {
        line-height:23px;
        font-weight:400;
        font-family: $josefin;
        font-size: 18px;
        color: #535353;
        margin-bottom:10px;
      }
    }

  }
  p {
    width:100%;
  }
  .owl-next, .owl-prev {
    background:#364155;
    color:#FFF;
    width:50px;
    font-size:26px;
    display:flex;
    align-items:center;
    justify-content:center;
    height:50px;
    border-radius:0;
    border:none;
    &:hover {
      background:#272F3D !important;

    }
  }

}

.owl-carousel:hover .owl-nav .owl-next {
  right:-48px;
}


.owl-carousel:hover .owl-nav .owl-prev {
  left:-48px;
}
#team-carousel {
  @media (max-width:991px) {
    img {
      margin:0 auto;

      margin-bottom:20px;
    }
  }
}